[submodule "libs/trezor-crypto"]
	path = libs/trezor-crypto
	url = https://github.com/trezor/trezor-crypto
[submodule "libs/boost-tcp-server-client"]
	path = libs/boost-tcp-server-client
	url = https://github.com/alejandrofsevilla/boost-tcp-server-client
[submodule "libs/nanopb"]
	path = libs/nanopb
	url = https://github.com/nanopb/nanopb
[submodule "libs/boost"]
	path = libs/boost
	url = https://github.com/boostorg/boost.git
