version: "3.8"

services:
  server:
    build: ./server
    volumes:
      - ./server:/app
    command: bash -c "g++ server.cpp -o server -lboost_system && ./server"
    ports:
      - "8080:8080"
    tty: true
    stdin_open: true

  client:
    build: ./client
    volumes:
      - ./client:/app
    depends_on:
      - server
    command: bash -c "g++ client.cpp -o client -lboost_system && ./client"
